// Header Styles


.navbar-brand {
  color: $primary-color;
  width: $sidebar-width;
  font-size: $font-size-xl;
  border-right: 1px solid $border-color;
  margin-right: 0;
  font-weight: bold;
  height: auto;
  padding: $spacing-xl;
  
  padding-left: 0;
 
  img {
    width: $brand-size;

  }
}
#profile-dropdown {
  display: flex;
  align-items: center;
}
header {
  background: $color-white;
  box-shadow: $shadow;
  height: $header-height;
  position: fixed;
  width: 100%;
}
 .navbar {
  align-items: center;
  padding: 0;
  background:none;
  .navbar-nav {
    align-items: center;
  }
  .dropdown {
    border-right:1px solid $border-color;
    padding: $spacing-xs;
    margin: 0;
    &:last-child {
      border-right: none;
    }
    .btn .badge {
      position: absolute;
    }
  }
}

.profile-Avatar {
  width: $avatar-size;
  height: $avatar-size;
  overflow: hidden;
  border-radius: 50%;
  img {
width: 100%;
height: 100%;
  }
}
// Responsive Design
@include respond-to(sm) {

}

@include respond-to(xs) {

}
