
@import'variables';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import'header';
@import 'widgets';
@import'global';
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: $base-font-size;
}

// Sidebar styles
.sidebar {

  background-color: $primary-color;
  color: $text-color;
  height: 100%;
  padding: $spacing-lg;
  top: 0;

  .nav-link {
    color: $text-color;
    padding: $spacing-sm $spacing-md;
    font-size: $font-size-md;
    &:hover {
      background-color: $secondary-color;
      color: $dark-text-color;
    }
  }
}


.content-area {
  display: grid;
  grid-template-columns: $sidebar-width auto;
  padding-top: $header-height;
  height: 100vh;
}
// Main content panel styles
.content-panel {

  padding: $spacing-lg;
  background-color: $background-color;
  min-height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  width: 100%;

  h1 {
    font-size: $font-size-2xl;
    color: $text-color;
  }
  p {
    font-size: $font-size-md;
    color: $text-color;
  }
}



// Responsive adjustments
@include respond-to(sm) {

}
